.container-todo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 240px 400px 100px;
  grid-template-areas: "header header header header header" "main   main   main   main   imag" "sec    sec    maps   maps   maps" "footer footer footer footer footer";
  gap: 10px; }
  .container-todo .header {
    grid-area: header;
    background-color: blanchedalmond;
    padding: 10px; }
    .container-todo .header ul li {
      list-style: none;
      margin: 10px; }
      .container-todo .header ul li .link {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffd7c1; }
      .container-todo .header ul li .link:hover {
        color: white;
        background-color: #ffded0;
        border: 1px solid #ffc7b0; }
  .container-todo .main {
    grid-area: main;
    background-color: blanchedalmond;
    padding: 10px;
    transition: all 1s; }
    .container-todo .main .titulo {
      text-align: center;
      transition: all 1s;
      border-radius: 4px; }
    .container-todo .main .titulo:hover {
      color: #f5a6a6;
      background-color: beige; }
    .container-todo .main .parrafo-principal {
      word-spacing: 2px;
      line-height: 1.5rem;
      margin: 10px;
      padding: 10px; }
  .container-todo .main:hover {
    background-color: #ecdbc5; }
  .container-todo .imagen-principal {
    grid-area: imag;
    background-color: #ffe7de;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container-todo .imagen-principal .princi {
      width: 100%; }
  .container-todo .imagen-secundaria {
    grid-area: sec;
    padding: 10px;
    background-color: #fff3e1; }
    .container-todo .imagen-secundaria .carrusel {
      margin-top: 20px; }
      .container-todo .imagen-secundaria .carrusel a {
        text-decoration: none;
        color: white; }
  .container-todo .maps {
    grid-area: maps;
    padding: 10px;
    background-color: azure; }
    .container-todo .maps .donde {
      text-align: center;
      margin: 15px; }
    .container-todo .maps .centrar {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container-todo .maps .centrar .mapa {
        width: 90%;
        height: 300px;
        margin: 10px; }
  .container-todo .footer {
    grid-area: footer;
    padding: 10px;
    background-color: #e4b8a6; }
    .container-todo .footer .footer-container {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center; }
      .container-todo .footer .footer-container .menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container-todo .footer .footer-container .menu-footer li {
          list-style: none; }
          .container-todo .footer .footer-container .menu-footer li .link-footer {
            text-decoration: none;
            color: black;
            padding: 10px; }
    .container-todo .footer .copy {
      text-align: center;
      font-size: 12px;
      background-color: #e4b8a6; }

.logo {
  border-radius: 5px; }

.container-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 4fr 100px;
  grid-template-areas: "header   header   header" "contacto contacto contacto" "footer   footer   footer";
  gap: 10px; }
  .container-contacto .header {
    grid-area: header;
    background-color: blanchedalmond;
    padding: 10px; }
    .container-contacto .header ul li {
      list-style: none;
      margin: 10px; }
      .container-contacto .header ul li .link {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffd7c1; }
      .container-contacto .header ul li .link:hover {
        color: white;
        background-color: #ffded0;
        border: 1px solid #ffc7b0; }
  .container-contacto .contacto {
    grid-area: contacto;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px; }
    .container-contacto .contacto .titulo-contacto {
      margin: 20px; }
  .container-contacto .footer {
    grid-area: footer;
    padding: 10px;
    background-color: #e4b8a6; }
    .container-contacto .footer .footer-container {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center; }
      .container-contacto .footer .footer-container .menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container-contacto .footer .footer-container .menu-footer li {
          list-style: none; }
          .container-contacto .footer .footer-container .menu-footer li .link-footer {
            text-decoration: none;
            color: #333232;
            padding: 10px; }
    .container-contacto .footer .copy {
      text-align: center;
      font-size: 12px;
      background-color: #e4b8a6; }

.logo {
  border-radius: 5px; }

.container-turnos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 4fr 100px;
  grid-template-areas: "header   header   header" "turnos   turnos   turnos" "footer   footer   footer";
  gap: 10px; }
  .container-turnos .header {
    grid-area: header;
    background-color: blanchedalmond;
    padding: 10px; }
    .container-turnos .header ul li {
      list-style: none;
      margin: 10px; }
      .container-turnos .header ul li .link {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffd7c1; }
      .container-turnos .header ul li .link:hover {
        color: white;
        background-color: #ffded0;
        border: 1px solid #ffc7b0; }
  .container-turnos .turnos {
    grid-area: turnos;
    margin: 10px; }
    .container-turnos .turnos .titulo-turno {
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .container-turnos .turnos .flex-turnos .servicios {
      list-style-type: none; }
      .container-turnos .turnos .flex-turnos .servicios .foto-turnos {
        margin-bottom: 15px;
        display: flex;
        background-color: bisque;
        align-items: center;
        border: 1px solid black;
        transition: .5s;
        border-radius: 5px; }
        .container-turnos .turnos .flex-turnos .servicios .foto-turnos li {
          margin-bottom: 10px;
          padding: 10px;
          width: 400px;
          text-align: center; }
          .container-turnos .turnos .flex-turnos .servicios .foto-turnos li h3 {
            margin: 0;
            font-size: 20px; }
          .container-turnos .turnos .flex-turnos .servicios .foto-turnos li p {
            margin: 5px 0; }
          .container-turnos .turnos .flex-turnos .servicios .foto-turnos li .solicitar {
            background-color: #007bff;
            color: #fff;
            border: 1px solid white;
            padding: 5px 10px;
            cursor: pointer; }
        .container-turnos .turnos .flex-turnos .servicios .foto-turnos .descripcion {
          margin: 10px;
          padding: 15px;
          border: 1px solid white;
          text-align: center;
          width: 90%; }
        .container-turnos .turnos .flex-turnos .servicios .foto-turnos .foto-img {
          width: 170px;
          margin: 10px;
          border: 0.5px solid white; }
      .container-turnos .turnos .flex-turnos .servicios .foto-turnos:hover {
        background-color: #fdf8f2;
        border: 1px #f7fcb7 solid; }
  .container-turnos .footer {
    grid-area: footer;
    padding: 10px;
    background-color: #e4b8a6; }
    .container-turnos .footer .footer-container {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center; }
      .container-turnos .footer .footer-container .menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container-turnos .footer .footer-container .menu-footer li {
          list-style: none; }
          .container-turnos .footer .footer-container .menu-footer li .link-footer {
            font-size: 15px;
            text-decoration: none;
            color: #333232;
            padding: 10px; }
    .container-turnos .footer .copy {
      text-align: center;
      font-size: 12px;
      background-color: #e4b8a6; }

.logo {
  border-radius: 5px; }

.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 2fr 2fr 100px;
  grid-template-areas: "header      header      header" "producto1   producto2   producto3" "producto4   producto5   producto6" "footer      footer      footer";
  gap: 20px; }
  .container-productos .header {
    grid-area: header;
    background-color: blanchedalmond;
    padding: 10px;
    z-index: 2; }
    .container-productos .header ul li {
      list-style: none;
      margin: 10px; }
      .container-productos .header ul li .link {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffd7c1; }
      .container-productos .header ul li .link:hover {
        color: white;
        background-color: #ffded0;
        border: 1px solid #ffc7b0; }
  .container-productos .producto1 {
    grid-area: producto1;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto1 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto1 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .producto2 {
    grid-area: producto2;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto2 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto2 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .producto3 {
    grid-area: producto3;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto3 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto3 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .producto4 {
    grid-area: producto4;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto4 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto4 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .producto5 {
    grid-area: producto5;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto5 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto5 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .producto6 {
    grid-area: producto6;
    width: 70%;
    margin: 0 auto; }
    .container-productos .producto6 .comprar {
      display: flex;
      justify-content: center; }
    .container-productos .producto6 .productos-click:hover {
      opacity: .7;
      border: 1px solid white; }
  .container-productos .footer {
    grid-area: footer;
    padding: 10px;
    background-color: #e4b8a6; }
    .container-productos .footer .footer-container {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center; }
      .container-productos .footer .footer-container .menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container-productos .footer .footer-container .menu-footer li {
          list-style: none; }
          .container-productos .footer .footer-container .menu-footer li .link-footer {
            text-decoration: none;
            color: #333232;
            padding: 10px; }
    .container-productos .footer .copy {
      text-align: center;
      font-size: 12px;
      background-color: #e4b8a6; }

.logo {
  border-radius: 5px; }

.container-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header      header" "nosotros    fotos" "footer      footer";
  gap: 20px; }
  .container-nosotros .header {
    grid-area: header;
    background-color: blanchedalmond;
    padding: 10px; }
    .container-nosotros .header ul li {
      list-style: none;
      margin: 10px; }
      .container-nosotros .header ul li .link {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffd7c1; }
      .container-nosotros .header ul li .link:hover {
        color: white;
        background-color: #ffded0;
        border: 1px solid #ffc7b0; }
  .container-nosotros .nosotros {
    grid-area: nosotros;
    margin: 20px;
    margin-left: 40px; }
    .container-nosotros .nosotros .titulo-nosotros {
      text-align: center;
      margin-bottom: 30px; }
    .container-nosotros .nosotros .subtitulo-nosotros {
      font-weight: bold;
      font-size: 16px; }
    .container-nosotros .nosotros .ultimo-parrafo {
      font-style: italic;
      font-size: 14px; }
  .container-nosotros .fotos-nosotros {
    grid-area: fotos;
    display: grid;
    justify-content: end;
    margin-top: 50px;
    margin-right: 50px; }
    .container-nosotros .fotos-nosotros .fotardas {
      width: 300px; }
    .container-nosotros .fotos-nosotros .parrafo-fotos {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      animation-name: destello;
      animation-duration: 3s;
      animation-iteration-count: infinite; }

@keyframes destello {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
  .container-nosotros .footer {
    grid-area: footer;
    padding: 10px;
    background-color: #e4b8a6; }
    .container-nosotros .footer .footer-container {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center; }
      .container-nosotros .footer .footer-container .menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container-nosotros .footer .footer-container .menu-footer li {
          list-style: none; }
          .container-nosotros .footer .footer-container .menu-footer li .link-footer {
            text-decoration: none;
            color: #333232;
            padding: 10px; }
    .container-nosotros .footer .copy {
      text-align: center;
      font-size: 12px;
      background-color: #e4b8a6; }

.logo {
  border-radius: 5px; }

@media screen and (max-width: 767px) {
  /* MEDIA DEL INDEX */
  .container-todo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px .5fr 1fr 1fr 1fr 100px;
    grid-template-areas: "header" "main" "imag" "maps" "sec" "footer";
    gap: 10px; }
    .container-todo .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #ffd8df; }
    .container-todo .imagen-principal {
      background-color: beige; }
  /* MEDIA DE CONTACTO */
  .container-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "contacto" "footer";
    gap: 10px; }
    .container-contacto .contacto {
      transition: 1s;
      grid-area: contacto;
      border: 1px solid black;
      margin: 0 auto;
      width: 90%;
      padding: 20px;
      background-color: #ffc6bc;
      margin-top: 20px;
      margin-bottom: 30px; }
  /* MEDIA DE TURNOS */
  .container-turnos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 4fr 100px;
    grid-template-areas: "header   header" "turnos   turnos" "footer   footer";
    gap: 10px; }
    .container-turnos .turnos .titulo-turno {
      text-align: center;
      font-weight: bold; }
    .container-turnos .turnos .flex-turnos {
      display: flex;
      flex-direction: column; }
      .container-turnos .turnos .flex-turnos .servicios .foto-turnos {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
        background-color: bisque;
        border: 1px solid black; }
        .container-turnos .turnos .flex-turnos .servicios .foto-turnos li {
          margin-bottom: 10px;
          padding: 10px;
          width: 100%; }
  /* MEDIA PRODUCTOS */
  .container-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-areas: "header" "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "footer";
    gap: 20px;
    background-color: #faf2e7; }
    .container-productos .footer .footer-container {
      display: none; }
  /* MEDIA NOSOTROS */
  .container-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-areas: "header" "nosotros" "fotos" "footer";
    gap: 10px; }
    .container-nosotros .nosotros {
      margin-bottom: 0; }
      .container-nosotros .nosotros .titulo-nosotros {
        text-align: center;
        margin-bottom: 30px; }
      .container-nosotros .nosotros .subtitulo-nosotros {
        text-align: center;
        font-weight: bold;
        font-size: 16px; }
      .container-nosotros .nosotros .lista-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center; }
    .container-nosotros .fotos-nosotros {
      grid-area: fotos;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 10%;
      margin-top: 0; }
      .container-nosotros .fotos-nosotros .fotardas {
        margin: 0;
        padding: 0;
        width: 70%;
        margin-bottom: 20px; } }

@media screen and (max-width: 400px) {
  /* MEDIA DEL INDEX */
  .container-todo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px .5fr 1fr 1fr 1fr 50px;
    grid-template-areas: "header" "main" "imag" "maps" "sec" "footer";
    gap: 10px;
    font-size: 70%; }
    .container-todo .main .titulo {
      font-size: 20px; }
    .container-todo .footer .footer-container {
      display: none; }
    .container-todo .footer .copy {
      font-size: 10px; }
  /* MEDIA DE CONTACTO */
  .container-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: "header" "contacto" "footer";
    gap: 10px;
    font-size: 70%; }
    .container-contacto .footer .footer-container {
      display: none; }
    .container-contacto .footer .copy {
      font-size: 10px; }
  /* MEDIA DE TURNOS */
  .container-turnos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 4fr 50px;
    grid-template-areas: "header   header" "turnos   turnos" "footer   footer";
    gap: 10px;
    font-size: 60%; }
    .container-turnos .turnos .flex-turnos .servicios .foto-turnos li h3 {
      font-size: 13px; }
    .container-turnos .foto-img {
      max-width: 50px; }
    .container-turnos .footer .footer-container {
      display: none; }
    .container-turnos .footer .copy {
      font-size: 10px; }
  /* MEDIA NOSOTROS */
  .container-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-areas: "header" "nosotros" "fotos" "footer";
    gap: 10px;
    font-size: 60%; }
    .container-nosotros .nosotros {
      margin-bottom: 0; }
      .container-nosotros .nosotros .titulo-nosotros {
        font-size: 14px; }
      .container-nosotros .nosotros .subtitulo-nosotros {
        font-size: 11px; }
      .container-nosotros .nosotros .ultimo-parrafo {
        font-size: 10px; }
    .container-nosotros .fotos-nosotros {
      margin-left: 10%;
      margin-top: 0; }
      .container-nosotros .fotos-nosotros .fotardas {
        margin: 0;
        padding: 0;
        width: 70%;
        margin-bottom: 20px; }
    .container-nosotros .footer .footer-container {
      display: none; }
    .container-nosotros .footer .copy {
      font-size: 10px; }
  /* MEDIA NOSOTROS */
  .container-productos .producto1 {
    width: 80%; } }

.bg-menuHamb {
  background-color: blanchedalmond;
  padding: 1rem;
  z-index: 3; }

.header {
  grid-area: header;
  background-color: #ffded0;
  padding: 10px; }
  .header ul li {
    list-style: none;
    margin: 10px; }
    .header ul li .link {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 10px;
      border-radius: 10px;
      background-color: #ffc7b0; }
    .header ul li .link:hover {
      color: white;
      background-color: #ffded0;
      border: 1px solid #ffc7b0; }

.container_404 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px; }
  .container_404 .texto_404 {
    width: 50%; }
    .container_404 .texto_404 .titulo_404 {
      margin: 20px;
      text-align: center; }
    .container_404 .texto_404 .subtitulo_404 {
      margin: 10px;
      text-align: center; }
    .container_404 .texto_404 .form_404 {
      margin: 10px; }
    .container_404 .texto_404 .boton_404 {
      text-align: center; }
      .container_404 .texto_404 .boton_404 .btn {
        border: 1px solid black;
        margin: 10px; }
        .container_404 .texto_404 .boton_404 .btn .link {
          text-decoration: none;
          color: white;
          padding: 10px; }
  .container_404 .imagen_404 {
    width: 300px;
    margin: 0 auto; }
    .container_404 .imagen_404 .imagen_mal {
      width: 100%; }

.footer {
  background-color: #e4b8a6;
  text-align: center;
  padding: 30px; }
  .footer .container_footer {
    margin: 10px; }
    .footer .container_footer .copy {
      font-size: 12px;
      background-color: #e4b8a6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
