*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:aliceblue;
    font-family: 'Ysabeau', sans-serif;
}
/* index */
.container-todo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 240px 400px 100px;
    grid-template-areas: 
    "header header header header header"
    "main   main   main   main   imag"
    "sec    sec    maps   maps   maps"
    "footer footer footer footer footer";
    gap: 10px;
}
.header{
    grid-area: header;
    background-color:rgb(255, 222, 208) ;
    padding: 10px;
}
.menu-container{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.link {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(255, 199, 176);
}
.link:hover{
    color: white;
    background-color: rgb(255, 222, 208);
    border: 1px solid rgb(255, 199, 176)  ;
}
.main{
    grid-area: main;
    background-color: bisque;
    padding: 10px;
}
.parrafo-principal{
    word-spacing: 2px;
    line-height: 1.5rem;
    margin: 10px;
    padding: 10px;
}
.titulo{
    text-align: center;
}
.imagen-principal{
    grid-area: imag;
    background-color: beige;
    padding: 10px;
}
.princi{
    width: 300px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.maps{
    grid-area: maps;
    padding: 10px;
    background-color: azure;
}
.donde{
    text-align: center;
    margin: 15px;
}
.mapa{
    width: 90%;
    height: 300px;
    margin: 10px;
}
.imagen-secundaria{
    grid-area: sec;
    padding: 10px;
    background-color: rgb(255, 243, 225);
}
.footer{
    grid-area: footer;
    padding: 10px;
    background-color: rgb(228, 184, 166);   
}
.carrusel{
    margin-top: 40px;
}
a {
    text-decoration: none;
    color: white;
}
.footer-container{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.menu-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-footer li{
    list-style: none;
    margin-right: 110px;

}
.link-footer{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.copy{
    text-align: center;
    font-size: 12px;
    background-color:rgb(228, 184, 166);
}
.form{
    display: flex;
    margin-bottom: 10px;
}

/* cotacto */
.container-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 4fr 100px;
    grid-template-areas: 
    "header   header   header"
    "contacto contacto contacto"
    "footer   footer   footer";
    gap: 10px;
}
.contacto{
    grid-area: contacto;
    border: 1px solid black;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 30px;
}
.titulo-contacto{
    margin: 20px;
}


/* turnos */
.container-turnos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 4fr 100px;
    grid-template-areas: 
    "header   header   header"
    "turnos   turnos   turnos"
    "footer   footer   footer";
    gap: 10px;
}
.turnos{
    grid-area: turnos;
    margin: 10px;
}        
.turnos h2 {
    margin-bottom: 10px;
}     
.servicios {
    list-style-type: none;
}
.servicios li { 
    margin-bottom: 10px;
    padding: 10px;
    width: 800px;
}  
.servicios li h3 {
    margin: 0;
}
.servicios li p {
    margin: 5px 0;
}
.solicitar {
    background-color: #007bff;
    color: #fff;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
}
.foto-turnos{
    margin-bottom: 15px;
    display: flex;
    background-color: rgb(255, 228, 196);
    align-items: center;
    border: 1px solid black;
}
.descripcion{
    margin: 10px;
    padding: 15px;
    border: 1px solid white;
    text-align: center;
}
.foto-img{
    width: 200px;
    margin: 10px;
    border: 0.5px solid white;
}
.titulo-turno{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* PRODUCTOS */
.container-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 2fr 2fr 100px;
    grid-template-areas: 
    "header      header      header"
    "producto1   producto2   producto3"
    "producto4   producto5   producto6"
    "footer      footer      footer";
    gap: 20px;
}
.producto1{
    grid-area: producto1;
    width: 300px;
    margin: 0 auto;
}
.producto2{
    grid-area: producto2;
    width: 300px;
    margin: 0 auto;
}
.producto3{
    grid-area: producto3;
    width: 300px;
    margin: 0 auto;
}
.producto4{
    grid-area: producto4;
    width: 300px;
    margin: 0 auto;
}
.producto5{
    grid-area: producto5;
    width: 300px;
    margin: 0 auto;
}
.producto6{
    grid-area: producto6;
    width: 300px;
    margin: 0 auto;
}
.productos-click:hover{
    opacity: .7;
    border: 1px solid white;
}