.page_container_404 {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container_404{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        flex-grow: 1;
        .texto_404{
            width: 50%;
            .titulo_404{
                margin: 20px;
                text-align: center;
            }
            .subtitulo_404{
                margin: 10px;
                margin-bottom: 20px;
                text-align: center;
            }
            .form_404{
                margin: 20px;
            }
            .boton_404{
                text-align: center;
                .btn{
                    border: 1px solid rgb(0, 0, 0);
                    margin: 10px;
                    .link{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        padding: 10px;
                    }
                }
            }
        }
        .imagen_404{
            width: 600px;
            margin: 0 auto;
            .imagen_mal{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    .footer{
        background-color: rgba(228, 184, 166, .7);
        text-align: center;
        padding: 30px;
        .container_footer{
            margin: 10px;
            .copy{
                font-size: 12px;
            }
        }
    }

@media screen and (max-width: 400px) {
    .container_404{
        flex-direction: column;
        margin: 0;
        .texto_404{
            width: 100%;
            margin: 0;
                .btn{
                    border: 1px solid rgb(0, 0, 0);
                    margin: 10px;
                    margin: 0;
                }
            }
        
        .imagen_404{
            width: 100%;
            margin: 0 auto;
            
            .imagen_mal{
                width: 10   0%;
            }
        }
    }
}