@mixin redes{
    width: 35px;
    margin: 7px;
}

body{
    background-image: url("../img/textura--fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 4fr 100px;
    grid-template-areas: 
    "header   header   header"
    "contacto contacto contacto"
    "footer   footer   footer";
    gap: 10px;
    .contacto{
        grid-area: contacto;
        border: 1px solid black;    
        margin: 0 auto;
        padding: 20px;
        background-color: bisque;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        .titulo-contacto{
            margin: 20px;
        }
        .redes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .contenedor_redes{
                border: .5px rgb(192, 157, 157) solid;
                border-radius: 5px;
                background-color: rgb(255, 195, 160);
                .logo_contacto_fb{
                    @include redes;
                    
                }
                .logo_contacto_fb:hover{
                    transform: scale(1.3);
                }
                .logo_contacto_ig{
                    @include redes;
                }
                .logo_contacto_ig:hover{
                    transform: scale(1.3);
                }
                .logo_contacto_wpp{
                    width: 40px;
                    margin: 7px;
                }
                .logo_contacto_wpp:hover{
                    transform: scale(1.3);
                }
            }
            .contenedor_redes:hover{
                opacity: .9;
                background-color: rgb(255, 213, 189);
            }
        }
    }
    .footer{
        grid-area: footer;
        padding: 10px;
        background-color: rgba(228, 184, 166, .7);
        .footer-container{
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            .menu-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    .link-footer{
                        text-decoration: none;
                        color: rgb(51, 50, 50);
                        padding: 10px;
                    }
                }
            }
        }
        .copy{
            text-align: center;
            font-size: 12px;
        }
    }
}
.logo{
    border-radius: 5px;
}
