
.container-todo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 240px 400px 100px;
    grid-template-areas: 
    "header header header header header"
    "main   main   main   main   imag"
    "sec    sec    maps   maps   maps"
    "footer footer footer footer footer";
    gap: 10px;
    .header{
        grid-area: header;
        background-color: blanchedalmond;
        padding: 10px;
        ul{
            li{
                list-style: none;
                margin: 10px;
                .link {
                    text-decoration: none;
                    color: black;
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 10px;
                    background-color:rgb(255, 215, 193);
                }
                .link:hover{
                    color: white;
                    background-color: rgb(255, 222, 208);
                    border: 1px solid rgb(255, 199, 176)  ;
                }
            }
        }
    }
    .main{
        grid-area: main;
        background-color: blanchedalmond;
        padding: 10px;
        transition: all 1s;
        .titulo{
            text-align: center;
            transition: all 1s;
            border-radius: 4px;
        }
        .titulo:hover{
            color: rgb(245, 166, 166);
            background-color: rgb(211, 211, 211);
        }
        .parrafo-principal{
            word-spacing: 2px;
            line-height: 1.5rem;
            margin: 10px;
            padding: 10px;
            
        }
    }
    .main:hover{
        background-color: rgb(255, 236, 227);
        opacity: .5;
    }
    .imagen-principal{
        grid-area: imag;
        background-color: rgb(255, 231, 222);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
            .princi{
                width: 100%;
            }
    }
    .imagen-secundaria{
        grid-area: sec;
        padding: 10px;
        background-color: rgb(255, 243, 225);
        display: flex;
        justify-content: center;
        align-items: center;
        .carrusel{
            margin: auto;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    .maps{
        grid-area: maps;
        padding: 10px;
        background-color: azure;
        .donde{
            text-align: center;
            margin: 15px;
        }
        .centrar{
            display: flex;
            align-items: center;
            justify-content: center;
            .mapa{
                width: 90%;
                height: 300px;
                margin: 10px;
            }
        }
    }
    .footer{
        grid-area: footer;
        padding: 10px;
        background-color: rgb(228, 184, 166);
        .footer-container{
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            .menu-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    .link-footer{
                        text-decoration: none;
                        color: black;
                        padding: 10px;
                    }
                }
            }
        }
        .copy{
            text-align: center;
            font-size: 12px;
            background-color:rgb(228, 184, 166);
        }
    }
}
.logo{
    border-radius: 5px;
}