@media screen and (max-width: 767px){
    /* MEDIA DEL INDEX */
    .container-todo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px .5fr 1fr 1fr 1fr 100px;
        grid-template-areas: 
        "header"
        "main"
        "imag"
        "maps"
        "sec"
        "footer";
        gap: 10px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: rgb(255, 216, 223);
    }
    .imagen-principal{
        background-color: beige;
    }
    /* MEDIA DE CONTACTO */
    .container-contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "header"
        "contacto"
        "footer";
        gap: 10px;
        .contacto{
            transition: 1s;
            grid-area: contacto;
            border: 1px solid black;
            margin: 0 auto;
            width: 500px;
            padding: 20px;
            background-color: rgb(255, 198, 188);
            margin-top: 20px;
            margin-bottom: 30px;
        }  
    }
    /* MEDIA DE TURNOS */
    .container-turnos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 4fr 100px;
        grid-template-areas: 
        "header   header"
        "turnos   turnos"
        "footer   footer";
        gap: 10px;
        .turnos{
            .titulo-turno{
                text-align: center;
                font-weight: bold;
            }
            .flex-turnos {
                display: flex;
                flex-direction: column;
                .servicios {
                    .foto-turnos{
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 15px;
                    background-color: rgb(255, 228, 196);
                    border: 1px solid black;
                        li { 
                        margin-bottom: 10px;
                        padding: 10px;
                        width: 100%;
                        }
                    }
                }
            }
        }
    }
    /* MEDIA PRODUCTOS */
    .container-productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        grid-template-areas: 
        "header"
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "footer";
        gap: 20px;
        background-color: rgb(250, 242, 231);
        .footer{
            .footer-container{
                display: none;
            }
        }
    }
    /* MEDIA NOSOTROS */
    .container-nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 100px;
        grid-template-areas: 
        "header"
        "nosotros"
        "fotos"
        "footer";
        gap: 10px;
        .nosotros{
            .titulo-nosotros{
                text-align: center;
                margin-bottom: 30px;
            }
            .subtitulo-nosotros{
                text-align: center;
                font-weight: bold;
                font-size: 16px;
            }
            .lista-nosotros{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .fotos-nosotros{
            grid-area: fotos;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
            .fotardas{
                width: 400px;
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 400px){
    /* MEDIA DEL INDEX */
    .container-todo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px .5fr 1fr 1fr 1fr 50px;
        grid-template-areas: 
        "header"
        "main"
        "imag"
        "maps"
        "sec"
        "footer";
        gap: 10px;
        .footer{
            .footer-container{
                display: none;
            }
        }
    }
    /* MEDIA DE CONTACTO */
    .container-contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas: 
        "header"
        "contacto"
        "footer";
        gap: 10px;
        .footer{
            .footer-container{
                display: none;
            }
        }
    }
    /* MEDIA DE TURNOS */
    .container-turnos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 4fr 50px;
        grid-template-areas: 
        "header   header"
        "turnos   turnos"
        "footer   footer";
        gap: 10px;
        .footer{
            .footer-container{
                display: none;
            }
        }
    }
    /* MEDIA NOSOTROS */
    .container-nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 50px;
        grid-template-areas: 
        "header"
        "nosotros"
        "fotos"
        "footer";
        gap: 10px;
        .footer{
            .footer-container{
                display: none;
            }
        }
    }
}