@mixin turnos{
    margin-bottom: 15px;
    display: flex;
    background-color: rgb(255, 228, 196);
    align-items: center;
    border: 1px solid black;
    transition: .5s;
    border-radius: 5px;
}

.container-turnos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 4fr 100px;
    grid-template-areas: 
    "header   header   header"
    "turnos   turnos   turnos"
    "footer   footer   footer";
    gap: 10px;
    .header{
        grid-area: header;
        background-color:rgb(255, 222, 208) ;
        padding: 10px;
        ul{
            li{
                list-style: none;
                margin: 10px;
                .link {
                    text-decoration: none;
                    color: black;
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 10px;
                    background-color:rgb(255, 199, 176);
                }
                .link:hover{
                    color: white;
                    background-color: rgb(255, 222, 208);
                    border: 1px solid rgb(255, 199, 176)  ;
                }
            }
        }
    }
    .turnos{
        grid-area: turnos;
        margin: 10px;
        .titulo-turno {
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .flex-turnos{
            .servicios{
                list-style-type: none;
                .foto-turnos{
                    @include turnos;
                    li { 
                        margin-bottom: 10px;
                        padding: 10px;
                        width: 400px;
                        text-align: center;
                        h3 {
                            margin: 0;
                            font-size: 20px;
                        }
                        p {
                            margin: 5px 0;
                        }
                        .solicitar {
                            background-color: #007bff;
                            color: #fff;
                            border: 1px solid white;
                            padding: 5px 10px;
                            cursor: pointer;
                        }
                    }
                    .descripcion{
                        margin: 10px;
                        padding: 15px;
                        border: 1px solid white;
                        text-align: center;
                    }
                    .foto-img{
                        width: 170px;
                        margin: 10px;
                        border: 0.5px solid white;
                    }
                }
                .foto-turnos:hover{
                    background-color: rgb(253, 248, 242);
                    border: 1px rgb(247, 252, 183) solid;    
                }
            }
        }
    }
    .footer{
        grid-area: footer;
        padding: 10px;
        background-color: rgb(228, 184, 166);
        .footer-container{
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            .menu-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    list-style: none;
                    .link-footer{
                        font-size: 15px;
                        text-decoration: none;
                        color: rgb(51, 50, 50);
                        padding: 10px;
                    }
                }
            }
        }
        .copy{
            text-align: center;
            font-size: 12px;
            background-color:rgb(228, 184, 166);
        }
    }
}